* {
	box-sizing: border-box;
}

html {
	font-family: HeeboRegular, OpenSans, sans-serif;
	font-size: 16px;
	scroll-behavior: smooth;
}

.main-container {
	margin: 30px auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	font-weight: normal;
	padding: 0;
}

header {
	text-align: center;
	margin-bottom: 50px;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrap {
	flex-wrap: wrap;
}

.cardFront {
	background-color: #991a00;
	text-align: center;
	line-height: 150px;
	color: white;
}

.cardBack p:last-of-type {
	font-weight: bold;
}
